.home-hero {
    height: 75vh;
    background-image: url(/assets/cbm-landing-bkg-80.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    div {

        &.container {
            display: flex;
            justify-content: center;
            align-content: center;
            height: 100%;
            flex-direction: column;
            animation: fadeSlow .75s ease-out .15s;
            animation-fill-mode: backwards;
        }
    }
}

@keyframes fadeSlow {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}